
    <div class="row">
        <div class="col-lg-12">
            <h2 class="font-weight-bold text-uppercase">List of Bags</h2>
            <div id="bagListHead" class="row my-5 border-bottom border-2">
                <div class="col-1">#</div>
                <div class="col">Bag Name</div>
                <div class="col">IP List</div>
                <div class="col">Action</div>
            </div>

            {% if bag_list %}
            {% for bag in bag_list %}
            <div class="row clickable-row" data-href="#">
                <div class="col-1">1</div>
                <div class="col" id="bag-{{ forloop.counter }}">{{ bag.set_name }}</div>
                <div class="col">{{ bag.addresses.0 }}</div>
                <div class="col">
                    <button type="button" data-bagnameid="bag-{{ forloop.counter }}"
                            class="bagButton btn btn-light rounded-pill shadow-sm">
                        <span class="material-icons">create</span>
                    </button>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
