{% extends 'base.html' %}

{% block body_block %}
    <div class="row">
        <div class="col-lg-12 mb-5">
            <h2 class="font-weight-bold text-uppercase">OUTPUT Rule List</h2>
            <button id="addBagButton" type="button" class="btn btn-light rounded-pill shadow-sm">
                <span class="material-icons">add</span>
            </button>
            <div id="bagListHead" class="row my-5 border-bottom border-2">
                <div class="col-1">#</div>
                <div class="col-2">Rule Name</div>
                <div class="col-1">Interface</div>
                <div class="col-1">Protocol</div>
                <div class="col-2">Dest. IP Bag</div>
                <div class="col-1">Dest. Port</div>
                <div class="col-1">Action</div>
            </div>
            <div class="row mb-2">
                <div class="col-1">1</div>
                <div class="col-2">IT Department Internal Mailing Rule</div>
                <div class="col-1">wlan5</div>
                <div class="col-1">TCP</div>
                <div class="col-2">C Level IP Bag</div>
                <div class="col-1">54762</div>
                <div class="col-1">Accept</div>
                <div class="col-1">
                    <button id="editModyfiyARule" type="button" class="btn btn-light rounded-pill shadow-sm pophover">
                        <span class="material-icons">create</span>
                    </button>
                </div>
                <div class="col-1">
                    <button id="deleteARuleButton" type="button" class="btn btn-light rounded-pill shadow-sm pophover">
                        <span class="material-icons">delete</span>
                    </button>
                </div>
                <div id="rule-info" class="col-12 my-3 bg-light shadow" id="rule-info">
                    <div class="container shadow  my-3 py-2" id="rule-edit-panel">
                        <div class="row float-right" id="cancelButtonRow">
                            <div class="col-1 form-group">
                                <button id="cancelModyfiyARule" type="button" class="btn rounded-pill">
                                    <span class="material-icons">cancel</span>
                                </button>
                            </div>
                        </div>
                        <form class="my-5">
                            <div class="form-group form-row">
                                <div class="col-12 form-group">
                                    <label for="editingBagName">Rule name</label>
                                    <input type="text" class="form-control" id="editingBagName"
                                           placeholder="Name of the rule"
                                           autofocus>
                                </div>
                                <!--
                                <div class="col-2">
                                    <select class="custom-select  d-block w-100" id="iOtype" required="">
                                        <option value="">INPUT (source)</option>
                                        <option>OUTPUT (destination)</option>
                                    </select>
                                </div>
                                -->
                                <div class="col-2">
                                    <input type="text" class="form-control" placeholder="Interface" required="">
                                </div>
                                <div class="col-2">
                                    <select class="custom-select  d-block w-100" id="protocol" required="">
                                        <option value="">TCP</option>
                                        <option>UDP</option>
                                    </select>
                                </div>
                                <div class="col-2">
                                    <select class="custom-select  d-block w-100" id="ipBag" required="">
                                        <option value="">IP Bag ...</option>
                                        <option>HR IP Bag</option>
                                        <option>Another IP Bag</option>
                                    </select>
                                </div>

                                <div class="col-2">
                                    <input type="number" min="0" max="65535" class="form-control" placeholder="Port"
                                           required="">
                                </div>
                                <!--
                                                                <div class="col-2">
                                    <input type="text" class="form-control" placeholder="D. Interf">
                                </div>
                                <div class="col-2">
                                    <select class="custom-select  d-block w-100" id="inputAction" required="">
                                        <option value="">Dest. IP Bag ...</option>
                                        <option>HR IP Bag</option>
                                        <option>Another IP Bag</option>
                                    </select>
                                </div>
                                <div class="col-1">
                                    <input type="number" min="0" max="65535" class="form-control" placeholder="D. Port">
                                </div>
                                -->
                                <div class="col-2">
                                    <select class="custom-select  d-block w-100" id="inputAction" required="">
                                        <option value="">ACCEPT</option>
                                        <option>DROP</option>
                                        <option>REJECT</option>
                                    </select>
                                </div>
                                <!--
                                <div class="col-auto mt-4">
                                    <label for="dnatIP">DNAT IP</label>
                                    <input id="dnatIP" class="form-control" type="text" minlength="7" maxlength="15"
                                           size="15"
                                           pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$"
                                           placeholder="DNAT IP: xxx.xxx.xxx.xxx">
                                </div>
                                <div class="col-auto mt-4">
                                    <label for="dnatIP">DNAT Port</label>
                                    <input type="number" min="0" max="65535" class="form-control"
                                           placeholder="DNAT Port">
                                </div>
                                <div class="col-auto mt-5">
                                    <label for="disabledNAT">NAT: </label>
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-custom active">
                                            <input type="radio" name="options" id="disabledNAT" autocomplete="off"
                                                   checked>
                                            Disabled
                                        </label>
                                        <label class="btn btn-custom">
                                            <input type="radio" name="options" id="enabledNAT" autocomplete="off">
                                            Enabled
                                        </label>
                                    </div>
                                </div>
                                -->
                                <div class="col-auto offset-1 mt-5">
                                    <button id="createModyfiyARule" type="button"
                                            class="btn btn-light rounded-pill shadow-sm">
                                        <span class="material-icons">done</span><span>Apply</span>
                                        <!--
                                        <span class="material-icons">done_all</span><span>Applied</span>
                                        -->
                                    </button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}