<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- External CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
    <title>fireNet Dashboard</title>
</head>
<body>
<!-- Vertical navbar -->
<div class="vertical-nav bg-white" id="sidebar">

    <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Setting</p>

    <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item">
            <a href="index.html" class="nav-link text-dark font-italic bg-light">
                <span class="material-icons">backpack</span>
                <i class="mr-3 text-primary"></i>
                Address Bag
            </a>
        </li>
        <li class="nav-item">
            <a href="INPUTconf.html" class="nav-link text-dark font-italic">
                <span class="material-icons">rule</span>
                <i class="mr-3 text-primary"></i>
                INPUT Confs
            </a>
        </li>
        <li class="nav-item">
            <a href="OUTPUTconf.html" class="nav-link text-dark font-italic">
                <span class="material-icons">rule</span>
                <i class="mr-3 text-primary"></i>
                OUTPUT Confs
            </a>
        </li>
    </ul>

</div>
<!-- End vertical navbar -->


<!-- Page content holder -->
<div class="page-content p-5" id="content">
    <!-- Toggle button -->
    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"
            data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Toggle Side-Menu">
        <i class="m-auto"></i>
        <small class="text-uppercase font-weight-bold">
            <span class="material-icons">vertical_split</span>
        </small>
    </button>
    <div class="row">
        <div class="col-lg-12 mb-5">
            <h2 class="font-weight-bold text-uppercase">OUTPUT Rule List</h2>
            <button id="addBagButton" type="button" class="btn btn-light rounded-pill shadow-sm">
                <span class="material-icons">add</span>
            </button>
            <div id="bagListHead" class="row my-5 border-bottom border-2">
                <div class="col-1">#</div>
                <div class="col-2">Rule Name</div>
                <div class="col-1">Interface</div>
                <div class="col-1">Protocol</div>
                <div class="col-2">Dest. IP Bag</div>
                <div class="col-1">Dest. Port</div>
                <div class="col-1">Action</div>
            </div>
            <div class="row mb-2">
                <div class="col-1">1</div>
                <div class="col-2">IT Department Internal Mailing Rule</div>
                <div class="col-1">wlan5</div>
                <div class="col-1">TCP</div>
                <div class="col-2">C Level IP Bag</div>
                <div class="col-1">54762</div>
                <div class="col-1">Accept</div>
                <div class="col-1">
                    <button id="editModyfiyARule" type="button" class="btn btn-light rounded-pill shadow-sm pophover">
                        <span class="material-icons">create</span>
                    </button>
                </div>
                <div class="col-1">
                    <button id="deleteARuleButton" type="button" class="btn btn-light rounded-pill shadow-sm pophover">
                        <span class="material-icons">delete</span>
                    </button>
                </div>
                <div id="rule-info" class="col-12 my-3 bg-light shadow" id="rule-info">
                    <div class="container shadow  my-3 py-2" id="rule-edit-panel">
                        <div class="row float-right" id="cancelButtonRow">
                            <div class="col-1 form-group">
                                <button id="cancelModyfiyARule" type="button" class="btn rounded-pill">
                                    <span class="material-icons">cancel</span>
                                </button>
                            </div>
                        </div>
                        <form class="my-5">
                            <div class="form-group form-row">
                                <div class="col-12 form-group">
                                    <label for="editingBagName">Rule name</label>
                                    <input type="text" class="form-control" id="editingBagName"
                                           placeholder="Name of the rule"
                                           autofocus>
                                </div>
                                <!--
                                <div class="col-2">
                                    <select class="custom-select  d-block w-100" id="iOtype" required="">
                                        <option value="">INPUT (source)</option>
                                        <option>OUTPUT (destination)</option>
                                    </select>
                                </div>
                                -->
                                <div class="col-2">
                                    <input type="text" class="form-control" placeholder="Interface" required="">
                                </div>
                                <div class="col-2">
                                    <select class="custom-select  d-block w-100" id="protocol" required="">
                                        <option value="">TCP</option>
                                        <option>UDP</option>
                                    </select>
                                </div>
                                <div class="col-2">
                                    <select class="custom-select  d-block w-100" id="ipBag" required="">
                                        <option value="">IP Bag ...</option>
                                        <option>HR IP Bag</option>
                                        <option>Another IP Bag</option>
                                    </select>
                                </div>

                                <div class="col-2">
                                    <input type="number" min="0" max="65535" class="form-control" placeholder="Port"
                                           required="">
                                </div>
                                <!--
                                                                <div class="col-2">
                                    <input type="text" class="form-control" placeholder="D. Interf">
                                </div>
                                <div class="col-2">
                                    <select class="custom-select  d-block w-100" id="inputAction" required="">
                                        <option value="">Dest. IP Bag ...</option>
                                        <option>HR IP Bag</option>
                                        <option>Another IP Bag</option>
                                    </select>
                                </div>
                                <div class="col-1">
                                    <input type="number" min="0" max="65535" class="form-control" placeholder="D. Port">
                                </div>
                                -->
                                <div class="col-2">
                                    <select class="custom-select  d-block w-100" id="inputAction" required="">
                                        <option value="">ACCEPT</option>
                                        <option>DROP</option>
                                        <option>REJECT</option>
                                    </select>
                                </div>
                                <!--
                                <div class="col-auto mt-4">
                                    <label for="dnatIP">DNAT IP</label>
                                    <input id="dnatIP" class="form-control" type="text" minlength="7" maxlength="15"
                                           size="15"
                                           pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$"
                                           placeholder="DNAT IP: xxx.xxx.xxx.xxx">
                                </div>
                                <div class="col-auto mt-4">
                                    <label for="dnatIP">DNAT Port</label>
                                    <input type="number" min="0" max="65535" class="form-control"
                                           placeholder="DNAT Port">
                                </div>
                                <div class="col-auto mt-5">
                                    <label for="disabledNAT">NAT: </label>
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-custom active">
                                            <input type="radio" name="options" id="disabledNAT" autocomplete="off"
                                                   checked>
                                            Disabled
                                        </label>
                                        <label class="btn btn-custom">
                                            <input type="radio" name="options" id="enabledNAT" autocomplete="off">
                                            Enabled
                                        </label>
                                    </div>
                                </div>
                                -->
                                <div class="col-auto offset-1 mt-5">
                                    <button id="createModyfiyARule" type="button"
                                            class="btn btn-light rounded-pill shadow-sm">
                                        <span class="material-icons">done</span><span>Apply</span>
                                        <!--
                                        <span class="material-icons">done_all</span><span>Applied</span>
                                        -->
                                    </button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- jQuery, Popper.js, and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
<!-- External JS -->
<script src="main.js" type="text/javascript"></script>
</body>
</html>